@model Catalogue.Models.EntityModels.Category

@{
    ViewBag.Title = "CreateCategory";
}

<h2>CreateCategory</h2>

@using (Html.BeginForm("CreateCategory", "Administrator", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{





  
<div class="form-group">
    @Html.LabelFor(n => n.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">

        @Html.ValidationSummary(true,  "" , new { @class = "text-danger" })

        @Html.TextBoxFor(n => n.Name, new { @class = "form-control" })
    </div>
</div>


<div class="form-group">
    <div class="col-md-10">
        <span class="btn btn-danger"> @Html.ActionLink("Cancel", "GetAllCategories", "Administrator")</span>

        <input type="submit" class="btn btn-default" value="CreateCategory" />
    </div>
</div>
}
