@model IEnumerable<Catalogue.Models.EntityModels.Category>


@{
    ViewBag.Title = "GetAllCategories";
}

<h2>GetAllCategories</h2>

<a class="btn btn-default" @Html.ActionLink("Create", "CreateCategory", "Administrator") </a>


@foreach (var item in Model)
{
    <p>@item.Name</p>
}
